[test]
host = https://adb-2486274436240795.15.azuredatabricks.net
token = {{ (rbw "Databricks Central Dinosaur Test Token").data.password }}

[prod]
host = https://adb-7920774757590015.15.azuredatabricks.net
token = {{ (rbw "Databricks Central Dinosaur Prod Token").data.password }}