{
  "alwaysThinkingEnabled": false,
  "env": {
    "ANTHROPIC_AUTH_TOKEN": "{{ (index (dashlanePassword "Anthropic Token") 0).password }}",
    "ANTHROPIC_BASE_URL": "http://localhost:6655/anthropic/",
    "ANTHROPIC_MODEL": "anthropic--claude-sonnet-latest",
    "ANTHROPIC_DEFAULT_SONNET_MODEL": "anthropic--claude-sonnet-latest",
    "ANTHROPIC_DEFAULT_HAIKU_MODEL": "anthropic--claude-haiku-latest",
    "ANTHROPIC_DEFAULT_OPUS_MODEL": "anthropic--claude-opus-latest",
    "DISABLE_ERROR_REPORTING": "1",
    "DISABLE_TELEMETRY": "1",
    "ENABLE_TOOL_SEARCH": false
  },
  "gitAttribution": false,
  "includeCoAuthoredBy": false
}